body {
    margin: 0px;
    padding: 0px;
    background-image: url(images/map.png);
    background-position: center;
    background-size: 200ch;
    background-attachment: fixed;
    font-family: 'Courgette', cursive;
}

header {
    background-color: rgb(163, 161, 161);
}

header a {
    color: white;
    font-size: 20px;
    padding: 0 8px;
    font-weight: 400;
    margin-top: 4px;
    text-decoration: none;
}

header a:hover {
    color: black;
    transform: scale(1.4);
}

main {
    height: 100vh;
}

main>div {
    display: flex;
    margin: 100px;
    height: 500px;
}

main iframe {
    height: 500px;
}

main>div .box {
    width: 300px;
    margin: 4px;
    position: relative;
    height: 300px;
    cursor: pointer;
}

main>div .box>img {
    height: 200px;
    position: absolute;
    bottom: 0;
}